.base-button {
  padding: calc(var(--base) * 0.08);
  border: calc(var(--base) * 0.01) solid black;
  border-radius: calc(var(--base) * 0.08);
  text-decoration: none;
  cursor: default;
  text-align: center;
  transition:
    background-color 0.5s linear,
    color 0.5s linear;
  font:
    400 calc(var(--base) * 0.16) 'Advent ProCY',
    'Advent ProLA';
  color: #000000;
  letter-spacing: 0.065em;

  &.active-button,
  &:hover {
    color: white;
    background-color: black;
    outline: none;
    cursor: pointer;
  }

  &:active {
    box-shadow: calc(var(--base) * 0.1) calc(var(--base) * 0.05) calc(var(--base) * 0.05) gray;
  }

  &:disabled {
    color: black;
    background-color: transparent;
    opacity: 25%;
  }
}
