@import './styles/reset.css';
@import './styles/scrollbar.css';
@import './styles/importFonts.css';
@import './styles/button.css';
@import "./styles/icons.css";

:root {
  --base: 100px;
  --authWIdth: calc(var(--base) * 3.52);
  --authHeight: calc(var(--base) * 3.94);
}

@media (min-width: 2100px) {
  :root {
    --base: 5.2vmax;
  }
}

@media (min-height: 2100px) {
  :root {
    --base: 5.2vmax;
  }
}

body {
  min-height: 100vh;
  background-color: rgb(232, 238, 233);
}

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  min-height: 100vh;
  padding: calc(var(--base) * 0.16);
  font: 400 calc(var(--base) * 0.24) "Advent ProCY", "Advent ProLA";
  color: #000000;
  letter-spacing: 0.065em;
}
